* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
 
.navbar img {
  position: absolute;
  top: 1.5%;
  left: 47%;
  width: 110px;
  height: 20px;
}

.navbar {

  overflow: hidden;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 6vh;
  z-index: 1;
}
.navbar a {
  float: left;
  font-size: 12px;
  color: black;
  text-align: center;
  padding: 10px 6px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  font-size: 12px;
}

.dropdown .dropbtn {
  font-size: 12 px;
  border: none;
  outline: none;
  color: black;
  padding: 10px 6px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.dropdown:hover .dropbtn {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;

}

.dropdown-content {
  font-size: 10px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: white;
  padding: 16px;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 15.4%;
  padding: 10px;
  background-color: white;
  height: 300px;
}

.column a {
  float: none;
  color: black;
  padding: 3px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 15.4%;
  padding: 10px;
  background-color: white;
  height: 300px;
}

.column a {
  float: none;
  color: black;
  padding: 3px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create three equal columns that floats next to each other */
.column1 {
  float: left;
  width: 15.4%;
  padding: 10px;
  background-color: white;
  height: 130px;
}

.column1 a {
  float: none;
  color: black;
  padding: 3px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column1 a:hover {
  background-color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create three equal columns that floats next to each other */
.column3 {
  float: left;
  width: 15.4%;
  padding: 10px;
  background-color: white;
  height: 550px;
}

.column3 a {
  float: none;
  color: black;
  padding: 3px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column3 a:hover {
  background-color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.last {
  position: absolute;
  left: 84%;
}

span {
  position: absolute;
  left: 103%;
  top: 28%;

}

.span1 {
  position: absolute;
  left: 119%;
  top: 28%;

}

.nav {
  width: 100%;
  height: 6vh;
  background-color: white;
}

input {
  width: 100%;
  height: 6vh;
  padding: 20px 20px;
  border: 1px solid black;
}
.image0 {
  background-image: url(big\ image/1st.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.column {
  border: 1px solid black;
}

.column1 {
  border: 1px solid black;
}

.column3 {
  border: 1px solid black;
}

.new-arrivals-nothing {
  height: 85vh;
}

.new-arrivals-content {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.new-arrivals-content h2 {
  color: white;
}

.new-arrivals-content button {
  background-color: white;
  color: black;
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
  border-radius: 5px;

}

.space-between {
  height: 10px;
}

.image1 {
  background-image: url(big\ image/2nd.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image2 {
  background-image: url(big\ image/3rd.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image3{
  background-image: url(big\ image/4th.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image4 {
  background-image: url(big\ image/5th.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image5 {
  background-image: url(big\ image/6th.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #aaaaac;
}

.footer1 {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

/* Create three equal columns that floats next to each other */
.column2 {
  float: left;
  width: 16.6%;
  padding: 10px;

  height: 280px;
  border: 1px solid black;
}

.column2 a {
  float: none;
  color: black;
  padding: 3px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column2 a:hover {
  text-decoration: underline ;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: none;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  display: none;
}

@media screen and (min-width:1000px) and (max-width:1333px) {

  input {
    width: 100%;
    height: 6vh;
    border: 1px solid black;

  }


  .navbar a {
    float: left;
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
    display: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    font-size: 13px;

  }

  .dropdown .dropbtn {
    font-size: 12 px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 6px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    display: none;
  }


  span {
    position: absolute;
    left: 100%;
    top: 27%;
    display: none;

  }
  .span1{
    display: none;
  }

  .navbar img {
    position: absolute;
    top: 1.5%;
    left: 44%;
    width: 110px;
    height: 20px;
  }
}

@media screen and (min-width:800px) and (max-width:1000px) {


  input {
    width: 100%;
    height: 6vh;
    border: 1px solid black;

  }

  .navbar a {
    float: left;
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
    display: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    font-size: 13px;

  }

  .dropdown .dropbtn {
    font-size: 12 px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 6px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    display: none;
  }


  span {
    position: absolute;
    left: 100%;
    top: 27%;
    display: none;

  }

  .span1{
    display: none;
  }
  .navbar img {
    position: absolute;
    top: 1.5%;
    left: 44%;
    width: 110px;
    height: 20px;
  }

}

@media screen and (min-width:620px) and (max-width:800px) {


  input {
    width: 100%;
    height: 6vh;
    border: 1px solid black;

  }


  .navbar a {
    float: left;
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
    display: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    font-size: 13px;

  }

  .dropdown .dropbtn {
    font-size: 12 px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 6px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    display: none;
  }


  span {
    position: absolute;
    left: 100%;
    top: 27%;
    display: none;

  }
  
  .span1{
    display: none;
  }

  .navbar img {
    position: absolute;
    top: 1.5%;
    left: 43%;
    width: 110px;
    height: 20px;
  }

  .accordion {
    background-color: #aaaaac;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: block;
    border: 1px solid black;

  }

  .active,
  .accordion:hover {
    background-color: #aaaaac;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: black;
    overflow: hidden;


  }

  /* Create three equal columns that floats next to each other */
  .column2 {
    float: left;
    width: 16.6%;
    padding: 10px;

    height: 280px;
    border: 1px solid black;
    display: none;
  }

  .column2 a {
    float: none;
    color: black;
    padding: 3px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .column2 a:hover {
    background-color: #aaaaac;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.footer1 {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
}

@media screen and (min-width:520px) and (max-width:620px) {


  input {
    width: 100%;
    height: 6vh;
    border: 1px solid black;

  }


  .navbar a {
    float: left;
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
    display: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    font-size: 13px;

  }

  .dropdown .dropbtn {
    font-size: 12 px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 6px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    display: none;
  }


  span {
    position: absolute;
    left: 100%;
    top: 27%;
    display: none;

  }
  
  .span1{
    display: none;
  }

  .navbar img {
    position: absolute;
    top: 1.5%;
    left: 42%;
    width: 110px;
    height: 20px;
  }

  .accordion {
    background-color: #aaaaac;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: block;
    border: 1px solid black;

  }

  .active,
  .accordion:hover {
    background-color: #aaaaac;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: black;
    overflow: hidden;

    
  }

  /* Create three equal columns that floats next to each other */
  .column2 {
    float: left;
    width: 16.6%;
    padding: 10px;

    height: 280px;
    border: 1px solid black;
    display: none;
  }

  .column2 a {
    float: none;
    color: black;
    padding: 3px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .column2 a:hover {
    background-color: #aaaaac;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.footer1 {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
}

@media screen and (max-width:450px) {

  .image0 {
    background-image: url(small\ image/1st.jpg);
  }

  .image1 {
    background-image: url(small\ image/2nd.jpg);
  }

  .image2 {
    background-image: url(small\ image/3rd.jpg);
  }

  .image3 {
    background-image: url(small\ image/4th.jpg);
  }

  .image4 {
    background-image: url(small\ image/5th.jpg);
  }
  .image5 {
    background-image: url(small\ image/6th.jpg);
  }
}


@media screen and (min-width:400px) and (max-width:520px) {


  input {
    width: 100%;
    height: 6vh;
    border: 1px solid black;

  }



  .navbar a {
    float: left;
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
    display: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    font-size: 13px;

  }

  .dropdown .dropbtn {
    font-size: 12 px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 6px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    display: none;
  }


  span {
    position: absolute;
    left: 100%;
    top: 27%;
    display: none;

  }
  
  .span1{
    display: none;
  }

  .navbar img {
    position: absolute;
    top: 1.5%;
    left: 37%;
    width: 110px;
    height: 20px;
  }

  .accordion {
    background-color: #aaaaac;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: block;
    border: 1px solid black;

  }

  .active,
  .accordion:hover {
    background-color: #aaaaac;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: black;
    overflow: hidden;


  }

  /* Create three equal columns that floats next to each other */
  .column2 {
    float: left;
    width: 16.6%;
    padding: 10px;

    height: 280px;
    border: 1px solid black;
    display: none;
  }

  .column2 a {
    float: none;
    color: black;
    padding: 3px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .column2 a:hover {
    background-color: #aaaaac;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.footer1 {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
}

@media screen and (min-width:50px) and (max-width:400px) {


  input {
    width: 100%;
    height: 6vh;
    border: 1px solid black;

  }



  .navbar a {
    float: left;
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
    display: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    font-size: 13px;

  }

  .dropdown .dropbtn {
    font-size: 12 px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 6px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    display: none;
  }


  span {
    position: absolute;
    left: 100%;
    top: 27%;
    display: none;

  }
  
  .span1{
    display: none;
  }

  .navbar img {
    position: absolute;
    top: 1.5%;
    left: 35%;
    width: 110px;
    height: 20px;
  }

  .accordion {
    background-color: #aaaaac;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: block;
    border: 1px solid black;

  }

  .active,
  .accordion:hover {
    background-color: #aaaaac;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: black;
    overflow: hidden;


  }

  /* Create three equal columns that floats next to each other */
  .column2 {
    float: left;
    width: 16.6%;
    padding: 10px;

    height: 280px;
    border: 1px solid black;
    display: none;
  }

  .column2 a {
    float: none;
    color: black;
    padding: 3px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .column2 a:hover {
    background-color: #aaaaac;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.footer1 {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
}